In [1]:
%pip install 'vanna[bigquery]'

Defaulting to user installation because normal site-packages is not writeable
Collecting vanna[bigquery]
  Downloading vanna-0.2.0-py3-none-any.whl (82 kB)
     |████████████████████████████████| 82 kB 3.1 MB/s  eta 0:00:01
Collecting kaleido
  Downloading kaleido-0.2.1-py2.py3-none-macosx_11_0_arm64.whl (85.8 MB)
     |████████████████████████████████| 85.8 MB 21.8 MB/s eta 0:00:01
Requirement already satisfied: pandas in /Users/palomaborro/Library/Python/3.9/lib/python/site-packages (from vanna[bigquery]) (2.1.4)
Collecting sqlparse
  Using cached sqlparse-0.4.4-py3-none-any.whl (41 kB)
Collecting tabulate
  Downloading tabulate-0.9.0-py3-none-any.whl (35 kB)
Requirement already satisfied: sqlalchemy in /Users/palomaborro/Library/Python/3.9/lib/python/site-packages (from vanna[bigquery]) (2.0.25)
Collecting plotly
  Downloading plotly-5.19.0-py3-none-any.whl (15.7 MB)
     |████████████████████████████████| 15.7 MB 64.0 MB/s eta 0:00:01
Requirement already satisfied: requests in /Users/palomaborro/Library/Python/3.9/lib/python/site-packages (from vanna[bigquery]) (2.31.0)
Collecting flask
  Downloading flask-3.0.2-py3-none-any.whl (101 kB)
     |████████████████████████████████| 101 kB 38.2 MB/s ta 0:00:01
Collecting google-cloud-bigquery
  Downloading google_cloud_bigquery-3.18.0-py2.py3-none-any.whl (230 kB)
     |████████████████████████████████| 230 kB 69.2 MB/s eta 0:00:01
Collecting itsdangerous>=2.1.2
  Downloading itsdangerous-2.1.2-py3-none-any.whl (15 kB)
Requirement already satisfied: importlib-metadata>=3.6.0 in /Users/palomaborro/Library/Python/3.9/lib/python/site-packages (from flask->vanna[bigquery]) (7.0.1)
Requirement already satisfied: click>=8.1.3 in /Users/palomaborro/Library/Python/3.9/lib/python/site-packages (from flask->vanna[bigquery]) (8.1.7)
Collecting Werkzeug>=3.0.0
  Downloading werkzeug-3.0.1-py3-none-any.whl (226 kB)
     |████████████████████████████████| 226 kB 70.9 MB/s eta 0:00:01
Collecting blinker>=1.6.2
  Using cached blinker-1.7.0-py3-none-any.whl (13 kB)
Collecting Jinja2>=3.1.2
  Downloading Jinja2-3.1.3-py3-none-any.whl (133 kB)
     |████████████████████████████████| 133 kB 66.5 MB/s eta 0:00:01
Requirement already satisfied: zipp>=0.5 in /Users/palomaborro/Library/Python/3.9/lib/python/site-packages (from importlib-metadata>=3.6.0->flask->vanna[bigquery]) (3.17.0)
Collecting MarkupSafe>=2.0
  Downloading MarkupSafe-2.1.5-cp39-cp39-macosx_10_9_universal2.whl (18 kB)
Collecting google-cloud-core<3.0.0dev,>=1.6.0
  Using cached google_cloud_core-2.4.1-py2.py3-none-any.whl (29 kB)
Collecting google-resumable-media<3.0dev,>=0.6.0
  Using cached google_resumable_media-2.7.0-py2.py3-none-any.whl (80 kB)
Collecting google-api-core!=2.0.*,!=2.1.*,!=2.2.*,!=2.3.0,<3.0.0dev,>=1.31.5
  Downloading google_api_core-2.17.1-py3-none-any.whl (137 kB)
     |████████████████████████████████| 137 kB 64.1 MB/s eta 0:00:01
Requirement already satisfied: python-dateutil<3.0dev,>=2.7.2 in /Users/palomaborro/Library/Python/3.9/lib/python/site-packages (from google-cloud-bigquery->vanna[bigquery]) (2.8.2)
Requirement already satisfied: packaging>=20.0.0 in /Users/palomaborro/Library/Python/3.9/lib/python/site-packages (from google-cloud-bigquery->vanna[bigquery]) (23.2)
Collecting protobuf!=3.20.0,!=3.20.1,!=4.21.0,!=4.21.1,!=4.21.2,!=4.21.3,!=4.21.4,!=4.21.5,<5.0.0.dev0,>=3.19.5
  Downloading protobuf-4.25.3-cp37-abi3-macosx_10_9_universal2.whl (394 kB)
     |████████████████████████████████| 394 kB 40.2 MB/s eta 0:00:01
Collecting google-auth<3.0.dev0,>=2.14.1
  Downloading google_auth-2.28.1-py2.py3-none-any.whl (186 kB)
     |████████████████████████████████| 186 kB 67.9 MB/s eta 0:00:01
Collecting googleapis-common-protos<2.0.dev0,>=1.56.2
  Using cached googleapis_common_protos-1.62.0-py2.py3-none-any.whl (228 kB)
Collecting cachetools<6.0,>=2.0.0
  Downloading cachetools-5.3.3-py3-none-any.whl (9.3 kB)
Collecting rsa<5,>=3.1.4
  Using cached rsa-4.9-py3-none-any.whl (34 kB)
Collecting pyasn1-modules>=0.2.1
  Downloading pyasn1_modules-0.3.0-py2.py3-none-any.whl (181 kB)
     |████████████████████████████████| 181 kB 70.4 MB/s eta 0:00:01
Collecting google-crc32c<2.0dev,>=1.0
  Downloading google_crc32c-1.5.0-cp39-cp39-macosx_10_9_universal2.whl (32 kB)
Collecting pyasn1<0.6.0,>=0.4.6
  Downloading pyasn1-0.5.1-py2.py3-none-any.whl (84 kB)
     |████████████████████████████████| 84 kB 25.7 MB/s eta 0:00:01
Requirement already satisfied: six>=1.5 in /Applications/Xcode.app/Contents/Developer/Library/Frameworks/Python3.framework/Versions/3.9/lib/python3.9/site-packages (from python-dateutil<3.0dev,>=2.7.2->google-cloud-bigquery->vanna[bigquery]) (1.15.0)
Requirement already satisfied: urllib3<3,>=1.21.1 in /Users/palomaborro/Library/Python/3.9/lib/python/site-packages (from requests->vanna[bigquery]) (2.1.0)
Requirement already satisfied: idna<4,>=2.5 in /Users/palomaborro/Library/Python/3.9/lib/python/site-packages (from requests->vanna[bigquery]) (3.6)
Requirement already satisfied: certifi>=2017.4.17 in /Users/palomaborro/Library/Python/3.9/lib/python/site-packages (from requests->vanna[bigquery]) (2023.11.17)
Requirement already satisfied: charset-normalizer<4,>=2 in /Users/palomaborro/Library/Python/3.9/lib/python/site-packages (from requests->vanna[bigquery]) (3.3.2)
Requirement already satisfied: tzdata>=2022.1 in /Users/palomaborro/Library/Python/3.9/lib/python/site-packages (from pandas->vanna[bigquery]) (2023.4)
Requirement already satisfied: numpy<2,>=1.22.4 in /Users/palomaborro/Library/Python/3.9/lib/python/site-packages (from pandas->vanna[bigquery]) (1.26.3)
Requirement already satisfied: pytz>=2020.1 in /Users/palomaborro/Library/Python/3.9/lib/python/site-packages (from pandas->vanna[bigquery]) (2023.3)
Requirement already satisfied: tenacity>=6.2.0 in /Users/palomaborro/Library/Python/3.9/lib/python/site-packages (from plotly->vanna[bigquery]) (8.2.3)
Requirement already satisfied: typing-extensions>=4.6.0 in /Users/palomaborro/Library/Python/3.9/lib/python/site-packages (from sqlalchemy->vanna[bigquery]) (4.9.0)
Installing collected packages: pyasn1, rsa, pyasn1-modules, protobuf, cachetools, MarkupSafe, googleapis-common-protos, google-auth, Werkzeug, Jinja2, itsdangerous, google-crc32c, google-api-core, blinker, tabulate, sqlparse, plotly, kaleido, google-resumable-media, google-cloud-core, flask, vanna, google-cloud-bigquery
Successfully installed Jinja2-3.1.3 MarkupSafe-2.1.5 Werkzeug-3.0.1 blinker-1.7.0 cachetools-5.3.3 flask-3.0.2 google-api-core-2.17.1 google-auth-2.28.1 google-cloud-bigquery-3.18.0 google-cloud-core-2.4.1 google-crc32c-1.5.0 google-resumable-media-2.7.0 googleapis-common-protos-1.62.0 itsdangerous-2.1.2 kaleido-0.2.1 plotly-5.19.0 protobuf-4.25.3 pyasn1-0.5.1 pyasn1-modules-0.3.0 rsa-4.9 sqlparse-0.4.4 tabulate-0.9.0 vanna-0.2.0
WARNING: You are using pip version 21.2.4; however, version 24.0 is available.
You should consider upgrading via the '/Applications/Xcode.app/Contents/Developer/usr/bin/python3 -m pip install --upgrade pip' command.
Note: you may need to restart the kernel to use updated packages.

In [2]:
from vanna.remote import VannaDefault

/Users/palomaborro/Library/Python/3.9/lib/python/site-packages/urllib3/__init__.py:34: NotOpenSSLWarning: urllib3 v2 only supports OpenSSL 1.1.1+, currently the 'ssl' module is compiled with 'LibreSSL 2.8.3'. See: https://github.com/urllib3/urllib3/issues/3020
  warnings.warn(

In [3]:
vn = VannaDefault(model='public_ecommerce_poc', api_key='9c4b455e87694ea2b5e35fcc4e591bb3')

In [4]:
vn.connect_to_bigquery(project_id='wizeline-vertex-due')

Not using Google Colab.

/Users/palomaborro/Library/Python/3.9/lib/python/site-packages/google/auth/_default.py:76: UserWarning: Your application has authenticated using end user credentials from Google Cloud SDK without a quota project. You might receive a "quota exceeded" or "API not enabled" error. See the following page for troubleshooting: https://cloud.google.com/docs/authentication/adc-troubleshooting/user-creds.
  warnings.warn(_CLOUD_SDK_CREDENTIALS_WARNING)

In [5]:
vn.train(ddl="""
CREATE TABLE `bigquery-public-data.thelook_ecommerce.distribution_centers` (
    id INT,
    name STRING,
    latitude FLOAT,
    longitude FLOAT
);
"""
)

Adding ddl:
CREATE TABLE `bigquery-public-data.thelook_ecommerce.distribution_centers` (
    id INT,
    name STRING,
    latitude FLOAT,
    longitude FLOAT
);

'45115-ddl'

In [6]:
vn.train(ddl="""
CREATE TABLE `bigquery-public-data.thelook_ecommerce.events` (
    id INT,
    user_id INT,
    sequence_number INT,
    session_id STRING,
    created_at TIMESTAMP,
    ip_address STRING,
    city STRING,
    state STRING,
    postal_code STRING,
    browser STRING,
    traffic_source STRING,
    uri STRING,
    event_type STRING
);
"""
)

Adding ddl:
CREATE TABLE `bigquery-public-data.thelook_ecommerce.events` (
    id INT,
    user_id INT,
    sequence_number INT,
    session_id STRING,
    created_at TIMESTAMP,
    ip_address STRING,
    city STRING,
    state STRING,
    postal_code STRING,
    browser STRING,
    traffic_source STRING,
    uri STRING,
    event_type STRING
);

'45116-ddl'

In [7]:
vn.train(ddl="""
CREATE TABLE `bigquery-public-data.thelook_ecommerce.inventory_items` (
    id INT64,
    product_id INT,
    created_at TIMESTAMP,
    sold_at TIMESTAMP,
    cost FLOAT,
    product_category STRING,
    product_name STRING,
    product_brand STRING,
    product_retail_price FLOAT,
    product_department STRING,
    product_sku STRING,
    product_distribution_center_id INT
);
"""
)

Adding ddl:
CREATE TABLE `bigquery-public-data.thelook_ecommerce.inventory_items` (
    id INT64,
    product_id INT,
    created_at TIMESTAMP,
    sold_at TIMESTAMP,
    cost FLOAT,
    product_category STRING,
    product_name STRING,
    product_brand STRING,
    product_retail_price FLOAT,
    product_department STRING,
    product_sku STRING,
    product_distribution_center_id INT
);

'45117-ddl'

In [8]:
vn.train(ddl="""
CREATE TABLE `bigquery-public-data.thelook_ecommerce.order_items` (
    id INT,
    order_id INT,
    user_id INT,
    product_id INT,
    inventory_item_id INT,
    status STRING,
    created_at TIMESTAMP,
    shipped_at TIMESTAMP,
    delivered_at TIMESTAMP,
    returned_at TIMESTAMP,
    sale_price FLOAT
);
""")

Adding ddl:
CREATE TABLE `bigquery-public-data.thelook_ecommerce.order_items` (
    id INT,
    order_id INT,
    user_id INT,
    product_id INT,
    inventory_item_id INT,
    status STRING,
    created_at TIMESTAMP,
    shipped_at TIMESTAMP,
    delivered_at TIMESTAMP,
    returned_at TIMESTAMP,
    sale_price FLOAT
);

'45118-ddl'

In [9]:
vn.train(ddl="""
CREATE TABLE `bigquery-public-data.thelook_ecommerce.orders` (
    order_id INT,
    user_id INT,
    status STRING,
    gender STRING,
    created_at TIMESTAMP,
    returned_at TIMESTAMP,
    shipped_at TIMESTAMP,
    delivered_at TIMESTAMP,
    num_of_item INT
);
""")

Adding ddl:
CREATE TABLE `bigquery-public-data.thelook_ecommerce.orders` (
    order_id INT,
    user_id INT,
    status STRING,
    gender STRING,
    created_at TIMESTAMP,
    returned_at TIMESTAMP,
    shipped_at TIMESTAMP,
    delivered_at TIMESTAMP,
    num_of_item INT
);

'45119-ddl'

In [10]:
vn.train(ddl="""
CREATE TABLE `bigquery-public-data.thelook_ecommerce.products` (
    id INT,
    cost FLOAT,
    category STRING,
    name STRING,
    brand STRING,
    retail_price FLOAT,
    department STRING,
    sku STRING,
    distribution_center_id INT
);
""")

Adding ddl:
CREATE TABLE `bigquery-public-data.thelook_ecommerce.products` (
    id INT,
    cost FLOAT,
    category STRING,
    name STRING,
    brand STRING,
    retail_price FLOAT,
    department STRING,
    sku STRING,
    distribution_center_id INT
);

'45120-ddl'

In [11]:
vn.train(ddl="""
CREATE TABLE `bigquery-public-data.thelook_ecommerce.users` (
    id INT,
    first_name STRING,
    last_name STRING,
    email STRING,
    age INT,
    gender STRING,
    state STRING,
    street_address STRING,
    postal_code STRING,
    city STRING,
    country STRING,
    latitude FLOAT,
    longitude FLOAT,
    traffic_source STRING,
    created_at TIMESTAMP
);
""")

Adding ddl:
CREATE TABLE `bigquery-public-data.thelook_ecommerce.users` (
    id INT,
    first_name STRING,
    last_name STRING,
    email STRING,
    age INT,
    gender STRING,
    state STRING,
    street_address STRING,
    postal_code STRING,
    city STRING,
    country STRING,
    latitude FLOAT,
    longitude FLOAT,
    traffic_source STRING,
    created_at TIMESTAMP
);

'45121-ddl'

In [12]:
training_data = vn.get_training_data()
training_data

,id,training_data_type,question,content
0,139780-sql,sql,How many different product categories are ther...,SELECT COUNT(DISTINCT product_category) AS num...
1,44707-ddl,ddl,None,\nCREATE TABLE `bigquery-public-data.thelook_e...
2,44706-ddl,ddl,None,\nCREATE TABLE `bigquery-public-data.thelook_e...
3,45111-ddl,ddl,None,\nCREATE TABLE `bigquery-public-data.thelook_e...
4,44915-ddl,ddl,None,\nCREATE TABLE `bigquery-public-data.thelook_e...
5,44920-ddl,ddl,None,\nCREATE TABLE `bigquery-public-data.thelook_e...
6,44918-ddl,ddl,None,\nCREATE TABLE `bigquery-public-data.thelook_e...
7,44733-ddl,ddl,None,\nCREATE TABLE `bigquery-public-data.thelook_e...
8,44917-ddl,ddl,None,\nCREATE TABLE `bigquery-public-data.thelook_e...
9,43241-ddl,ddl,None,\nCREATE TABLE `bigquery-public-data.thelook_e...
10,147316-sql,sql,What are the 5 most popular products based on ...,"SELECT product_id, product_name, SUM(num_of_it..."
11,44736-ddl,ddl,None,\nCREATE TABLE `bigquery-public-data.thelook_e...
12,44704-ddl,ddl,None,\nCREATE TABLE `bigquery-public-data.thelook_e...
13,43240-ddl,ddl,None,\nCREATE TABLE `bigquery-public-data.thelook_e...
14,43242-ddl,ddl,None,\nCREATE TABLE `bigquery-public-data.thelook_e...
15,45116-ddl,ddl,None,\nCREATE TABLE `bigquery-public-data.thelook_e...
16,139794-sql,sql,What is the trend in user orders in the last 4...,"SELECT DATE_TRUNC(created_at, MONTH) AS month,..."
17,44919-ddl,ddl,None,\nCREATE TABLE `bigquery-public-data.thelook_e...
18,43247-ddl,ddl,None,\nCREATE TABLE `bigquery-public-data.thelook_e...
19,43243-ddl,ddl,None,\nCREATE TABLE `bigquery-public-data.thelook_e...
20,45117-ddl,ddl,None,\nCREATE TABLE `bigquery-public-data.thelook_e...
21,43245-ddl,ddl,None,\nCREATE TABLE `bigquery-public-data.thelook_e...
22,44738-ddl,ddl,None,\nCREATE TABLE `bigquery-public-data.thelook_e...
23,44916-ddl,ddl,None,\nCREATE TABLE `bigquery-public-data.thelook_e...
24,45112-ddl,ddl,None,\nCREATE TABLE `bigquery-public-data.thelook_e...
25,44911-ddl,ddl,None,\nCREATE TABLE `bigquery-public-data.thelook_e...
26,45115-ddl,ddl,None,\nCREATE TABLE `bigquery-public-data.thelook_e...
27,44709-ddl,ddl,None,\nCREATE TABLE `bigquery-public-data.thelook_e...
28,45118-ddl,ddl,None,\nCREATE TABLE `bigquery-public-data.thelook_e...
29,43244-ddl,ddl,None,\nCREATE TABLE `bigquery-public-data.thelook_e...
30,44924-ddl,ddl,None,\nCREATE TABLE `bigquery-public-data.thelook_e...
31,44734-ddl,ddl,None,\nCREATE TABLE `bigquery-public-data.thelook_e...
32,45108-ddl,ddl,None,\nCREATE TABLE `bigquery-public-data.thelook_e...
33,44912-ddl,ddl,None,\nCREATE TABLE `bigquery-public-data.thelook_e...
34,45110-ddl,ddl,None,\nCREATE TABLE `bigquery-public-data.thelook_e...
35,43246-ddl,ddl,None,\nCREATE TABLE `bigquery-public-data.thelook_e...
36,44710-ddl,ddl,None,\nCREATE TABLE `bigquery-public-data.thelook_e...
37,43239-ddl,ddl,None,\nCREATE TABLE `bigquery-public-data.thelook_e...
38,45113-ddl,ddl,None,\nCREATE TABLE `bigquery-public-data.thelook_e...
39,45109-ddl,ddl,None,\nCREATE TABLE `bigquery-public-data.thelook_e...
40,139750-sql,sql,What is the average retail price of products i...,SELECT AVG(product_retail_price) AS average_re...
41,44708-ddl,ddl,None,\nCREATE TABLE `bigquery-public-data.thelook_e...
42,45119-ddl,ddl,None,\nCREATE TABLE `bigquery-public-data.thelook_e...
43,44923-ddl,ddl,None,\nCREATE TABLE `bigquery-public-data.thelook_e...
44,44914-ddl,ddl,None,\nCREATE TABLE `bigquery-public-data.thelook_e...
45,45114-ddl,ddl,None,\nCREATE TABLE `bigquery-public-data.thelook_e...
46,44922-ddl,ddl,None,\nCREATE TABLE `bigquery-public-data.thelook_e...
47,44739-ddl,ddl,None,\nCREATE TABLE `bigquery-public-data.thelook_e...
48,44705-ddl,ddl,None,\nCREATE TABLE `bigquery-public-data.thelook_e...
49,45121-ddl,ddl,None,\nCREATE TABLE `bigquery-public-data.thelook_e...
50,44735-ddl,ddl,None,\nCREATE TABLE `bigquery-public-data.thelook_e...
51,44921-ddl,ddl,None,\nCREATE TABLE `bigquery-public-data.thelook_e...
52,43238-ddl,ddl,None,\nCREATE TABLE `bigquery-public-data.thelook_e...
53,44737-ddl,ddl,None,\nCREATE TABLE `bigquery-public-data.thelook_e...
54,44913-ddl,ddl,None,\nCREATE TABLE `bigquery-public-data.thelook_e...
55,45120-ddl,ddl,None,\nCREATE TABLE `bigquery-public-data.thelook_e...

In [13]:
vn.generate_questions()

['How many unique product categories are there in the inventory items table?',
 'What is the average retail price of the products in the inventory items table?',
 'How many orders were placed in each month over the past 4 months?',
 'What are the top 5 best-selling products based on the total number of sales?',
 'How many orders have been returned?',
 'What is the total cost of all products in the inventory items table?',
 'What is the total number of items sold in each category?',
 'How many users have made purchases?',
 'How many different distribution centers are there?',
 'What is the average age of the users?']

In [14]:
vn.ask('How many different product categories are there in the inventory items table?')

SELECT COUNT(DISTINCT product_category) AS num_of_categories
FROM `bigquery-public-data.thelook_ecommerce.inventory_items`;
Couldn't run sql:  exceptions must derive from BaseException

In [15]:
vn.ask("What is the trend in user orders in the last 4 months?")

SELECT DATE_TRUNC(created_at, MONTH) AS month,
       COUNT(order_id) AS num_of_orders
FROM `bigquery-public-data.thelook_ecommerce.orders`
WHERE DATE(created_at) >= DATE_SUB(CURRENT_DATE(), INTERVAL 4 MONTH)
GROUP BY month
ORDER BY month;
Couldn't run sql:  exceptions must derive from BaseException

In [16]:
vn.ask("What are the 5 most popular products based on their sales on the last year?")

SELECT product_id, product_name, SUM(num_of_item) AS total_sales
FROM `bigquery-public-data.thelook_ecommerce.orders` o
JOIN `bigquery-public-data.thelook_ecommerce.inventory_items` i
ON o.order_id = i.id
WHERE DATE(o.created_at) >= DATE_SUB(CURRENT_DATE(), INTERVAL 1 YEAR)
GROUP BY product_id, product_name
ORDER BY total_sales DESC
LIMIT 5;
Couldn't run sql:  exceptions must derive from BaseException

In [17]:
from vanna.flask import VannaFlaskApp
app = VannaFlaskApp(vn)
app.run()

Your app is running at:
http://localhost:8084
 * Serving Flask app 'vanna.flask'
 * Debug mode: off